<div>
  <h1>GoBlue</h1>
</div>

<ul class="custom-nav nav nav-tabs">
  <li class="<%= active?(root_path) %>">
    <%= link_to "Home", root_path %>
  </li>
  <li class="<%= active?(categories_path) %>">
    <%= link_to "categories", categories_path %>
  </li>
  <li class="<%= active?(products_path) %>">
    <%= link_to "products", products_path %>
  </li>

  <li class="pull-right">
    <a href="#" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-shopping-cart">
        </span> Shopping Cart <span class="badge">99</span>
    </a>
  </li>

  <% if !user_signed_in? %>
    <li class="pull-right"><%= link_to "Log In", new_user_session_path %></li>
    <li class="pull-right"><%= link_to "Sign Up", new_user_registration_path %></li>
  <% else %>

  <li class="dropdown pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Edit Details", edit_user_registration_path %></li>
      <li role="separator" class="divider"></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>
  </li>
  <% end %>
</ul>
