<div class="row">
  <div class="col-md-10 col-md-offset-1 center">
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Brand:</strong>
      <%= @product.brand %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>

    <%= link_to('add to cart', shopping_carts_path(product_id: @product.id), method: :post, class: "btn btn-default") %>
    <% if user_signed_in? %>
      <% if current_user.type == 'AdminUser' %>
        <%= link_to 'edit', edit_product_path(@product), class: "btn btn-link" %>
      <% end %>
    <% end %>
  </div>
</div>
